
$theme-gray: #ccc;
$theme-white: #ffffff;
$theme-red: red;


$font-size-s: 12px;
$font-size-m: 14px;
$font-size-x: 16px;
$font-size-xl: 18px;
$font-size-xxxl: 28px; //登录

$bg-sidebar-dark: #303b53;
$bg-sidebar-light: #eeeeee;

$icon-color-black: #000000;

$btn-bg-disable: #99ACD4;

$btn-bg-blue: #437BF0;

